@import '../styles';

.heading {
	font-size: var(--font-ui-large);
	font-weight: var(--h2-size);

	&:not(:first-child) {
		margin-top: 1.75em;
	}
}

.code-block-section {
	display: flex;
	flex-direction: column;

	.customLanguageList {
		margin-bottom: 0;
	}

	.add-button {
		margin-bottom: var(--size-4-2);
	}
}

.card {
	padding: var(--size-4-6) var(--size-4-4);
	margin: var(--size-4-5) 0;
	border: var(--border-width) solid var(--background-modifier-border);
	border-radius: var(--radius-s);
}
