.code {
	color: var(--code-normal);
	font-size: var(--code-size);
	font-family: var(--font-monospace);
	vertical-align: baseline;
}

.comment {
	color: var(--code-comment);
}

@mixin disabled {
	pointer-events: none;
	opacity: 0.35;
	filter: brightness(0.85);
}

.disabled {
	@include disabled;
}
